<%- include('../includes/head.ejs') %> 
<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Prompt:wght@100&display=swap');
    .newfont {
        font-family: 'Kanit', sans-serif;
    }
  </style>
<main class="container">
    <% if (errorMessage) { %>
        <div class="alert alert-warning" role="alert">
            <%= errorMessage[0].param + ': '+ errorMessage[0].msg %>
        </div>
        <% } %>
    <div class="container mt-12">
        <div class="row">
            <div class="col-md-12">
                <br>
                <h2 class="newfont"> Detail Product</h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img src="<%- img_path %>" alt="" width="400" height="400"/>    
                <br>
                <br>                     
            </div>
            <div class="col-md-6">
                <h2 class="newfont"><br> <%= product_name %><br></h2>
                <hr>
                <h3 class="newfont">Detail</h3>
                <h4 class="newfont"><%- description %></h4>
                <hr>
                <h2 class="newfont">Price : <%= price %> ฿ </h2>
                <form action="/addcart" method="POST" id="addcart">
                    <input type="hidden" name="product_id" value="<%- product_id %>">
                    <input type="hidden" name="product_name" value="<%= product_name %>">
                    <input type="hidden" name="description" value="<%= description %>">
                    <input type="hidden" name="price" value="<%- price %>">
                    <input type="hidden" name="amount" value="<%- amount %>">
                    <input type="hidden" name="img_path" value="<%= img_path %>">
                    <input type="hidden" name="category_name" value="<%= category_name %>">
                    <button type="submit" name="Submit" class="btn btn-success">
                      <span>Add to cart</span>
                   </button>
            </div>
        </div>
    </div>
    
  </main>
  

<%- include('../includes/end.ejs') %>